.carousuel_container{
    max-width: 100%;
    height: 400px;
    overflow-x: scroll;
    position: relative;
    background-color: rgb(78, 226, 164);
    color: white;
}
.carousel-content {
    display: inline-flex;
    position: absolute;
    .item {
        display: block;
        margin: 10px;
        width: 150px;
        background: rgb(211, 119, 134);
    }
}